* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #444;
}
li {
    list-style: none;
}
body {
    background: #f7f8f8;
    font-size: "Microsoft YaHei";
}
.navigate-con {
    display: none;
}
.navigate-right {
    width: 500px;
}
.one {
    display: block;
    height: 500px;
    width: 179px;
    background: rgba(255, 255, 255, 0.9);
}
.two {
    display: none;
    position: absolute;
    top: 0px;
    left: 179px;
    height: 500px;
    width: 265px;
    border: 1px solid #bbb;
    background: rgba(255, 255, 255, 0.9);
    padding: 17px 20px;
    box-sizing: border-box;
}
.show {
    display: block;
}
.navigate {
    width: 178px;
    position: absolute;
    top: 108px;
}
.classify {
    display: inline-block;
    background: #008842;
    width: 180px;
    height: 38px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    line-height: 38px;
    text-align: center;
}
.three {
    width: 163px;
    height: 22px;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, 0);
    padding: 9px 0 9px 15px;
    line-height: 22px;
}
.three a {
    display: inline-block;
    font: 14px normal;
    margin-left: 15px;
}
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: -5px;
}
.icon-one {
    background: url("../images/nav-icon.png") no-repeat 0px 0px;
}
.icon-two {
    background: url("../images/nav-icon.png") no-repeat -25px 0px;
}
.icon-three {
    background: url("../images/nav-icon.png") no-repeat -47px 0px;
}
.icon-five {
    background: url("../images/nav-icon.png") no-repeat 0px 0px;
}
.icon-six {
    background: url("../images/nav-icon.png") no-repeat -96px 0px;
}
.icon-sev {
    background: url("../images/nav-icon.png") no-repeat -119px 0px;
}
.icon-eig {
    background: url("../images/nav-icon.png") no-repeat -145px 0px;
}
.icon-nin {
    background: url("../images/nav-icon.png") no-repeat -169px 0px;
}
.icon-ten {
    background: url("../images/nav-icon.png") no-repeat -192px 0px;
}
.icon-ele {
    background: url("../images/nav-icon.png") no-repeat -217px 0px;
}
.icon-thi {
    background: url("../images/nav-icon.png") no-repeat -243px 0px;
}
.icon-four {
    background: url("../images/nav-icon.png") no-repeat -73px 0px;
}
.content {
    width: 1200px;
    margin: auto;
}
.three:hover {
    background: #fff;
    border-right: none;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-right: 1px solid #fff;
}
.three .navigate-a:after {
    content: '>';
    position: absolute;
    opacity: 0;
    right: 25px;
    font-size: 15px;
}
.three:hover .navigate-a {
    color: #008842;
    margin-left: 10px;
    transition: 0.5s;
    
}
.three:hover .icon {
    margin-left: 10px;
    transition: 0.5s;
}
.three:hover .navigate-a:after {
    opacity: 1;
}
.border-right {
    border-right: 1px solid #bbb;
}
.three:hover .two {
    display: block;
}
.two>a {
    color: #008842;
    text-decoration: underline;
    font-size: 18px;
}
.two-one a {
    margin-right: 30px;
    color: #686868;
    font-size: 12px;
}
.two-one a:hover {
    color: #008842;
}
img {
    border: none;
}
.two img {
    position: absolute;
    bottom: 0;
}
.j-wrap16 {
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
    font-family: Arial,Verdana,"\5b8b\4f53";
    overflow: hidden;
}
.nav-items16 {
    margin-left: 180px;
    overflow: hidden;
    width: 1020px;
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #008842;
}
.nav-items16 ul li {
    float: left;
    width: 115px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    list-style: none;
}
.nav-items16 a {
    color: #444;
    text-decoration: none;
    outline: none;
}
.j-wrap161 {
    width: 1200px;
    margin: 20px auto 10px;
    font-size: 12px;
    font-family: Arial,Verdana,"\5b8b\4f53";
}
.j-select16 {
    line-height: 25px;
    margin: 20px 0;
}
.j-select16 .all16 {
    overflow: hidden;
    background: #eaeaea;
    border: 1px solid #c7c7c7;
    border-right-color: #e5e5e5;
}
.j-select16 .tit {
    float: left;
    width: 78px;
    padding: 5px 0 5px 20px;
    color: #909090;
}
.j-select16 ul {
    float: left;
    width: 1100px;
    padding: 5px 0;
    background: #f1f1f1;
}
.j-select16 a {
    display: inline-block;
    white-space: nowrap;
    padding: 0 15px;
    text-decoration: none;
    color: #777;
}
.j-select16 li::after {
    content: "|";
}
.j-select16 li {
    display: inline;
    outline: none;
}
.filter16 {
    padding: 5px 10px;
    background: #eaeaea;
    overflow: hidden;
}
.filter_sort16 {
    float: left;
    overflow: hidden;
}
.filter_sort16 a {
    display: block;
    float: left;
    height: 18px;
    line-height: 18px;
    margin-left: -1px;
    padding: 5px 10px;
    border: 1px solid #c7c7c7;
    background: #fff;
    color: #444;
    text-decoration: none;
    outline: none;
}
.filter_sort16 .on16 {
    background: #eee;
}
.filter_ub16 {
    float: left;
    margin-left: 28px;
    overflow: hidden;
}
.filter_ub16 label {
    float: left;
    margin-right: 15px;
    padding: 8px 0;
}
.filter_ub16 input {
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.filter_sort16 i {
    display: inline-block;
    vertical-align: middle;
}
.filter_sort16 a i {
    width: 10px;
    height: 16px;
    margin-left: 3px;
    background: url("../images/filter_icon.png") no-repeat 0 0;
}
.filter_sort16 .price16 i {
    background-position: -20px 0;
}
.filter_sort16 a:hover {
    color: #008842;
}
.filter_sort16 .c-price16:hover i {
    background-position: -10px 0;
}
.footer_service {
    background: #e0e0e0;
    margin-top: 50px;
    padding: 30px 0;
}
.service {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.footer_service li {
    float: left;
    width: 190px;
    height: 42px;
    margin-left: 55px;
    padding-left: 55px;
    background: url("../images/footer_service_icon.png") no-repeat left top;
    list-style: none;
}
.footer_service .s181 {
    background-position: 0 0;
}
.footer_service .s182 {
    background-position: 0 -42px;
}
.footer_service .s183 {
    background-position: 0 -84px;
}
.footer_service .s184 {
    background-position: 0 -126px;
}
.footer_service li b {
    display: block;
    padding-left: 15px;
    color: #007f4d;
    font: normal 18px/25px "Microsoft YaHei";
    border-left: 1px solid #a6a6a6;
}
.footer_service li span {
    display: block;
    padding-left: 15px;
    border-left: 1px solid #a6a6a6;
    font-size: 12px;
}
.footer18_list {
    width: 1200px;
    margin: 50px auto 0;
}
.footer18 {
    padding-bottom: 20px;
    color: #575556;
    font-size: 12px;
}
.footer18 dl {
    margin-left: 50px;
    display: inline;
}
.footer18 dl {
    float: left;
    width: 190px;
}
.footer18 dl dt {
    height: 23px;
    line-height: 23px;
    font-size: 14px;
    text-indent: 40px;
}
.col181 dt {
    background: url("../images/footer_icon.png") no-repeat 0 0;
}
.col182 dt {
    background: url("../images/footer_icon.png") no-repeat  0 -23px;
}
.col183 dt {
    background: url("../images/footer_icon.png") no-repeat  0 -46px;
}
.col184 dt {
    background: url("../images/footer_icon.png") no-repeat 0 -69px;
}
.col185 dt {
    background: url("../images/footer_icon.png") no-repeat 0 -92px;
}
.footer18 dd {
    border-left: 1px dashed #A8A8A8;
    padding-left: 20px;
    height: 110px;
    min-height: 110px;
    margin: 15px 0 0 13px;
}
.footer18  a {
    color: #575556;
    line-height: 22px;
    text-decoration: none;
    outline: none;
}
.b-footer18 {
    clear: both;
    text-align: center;
    padding: 60px 0 20px;
    color: #008842;
    font-size: 14px;
}
.last-footer18 {
    clear: both;
    color: #717171;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
}
.last-footer18 a {
    color: #717171;
    text-decoration: none;
    outline: none;
}
.tail a {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    zoom: 1;
    vertical-align: middle;
}
.tail span {
    height: 20px;
    line-height: 20px;
    margin: 0px 0px 0px 5px;
    color: #939393;
}
.tail img {
    height: 47px;
}
.tail a:last-child {
    overflow: hidden;
}
.tail a:last-child img {
    height: 20px;
    float: left;
}
.tail a:last-child span {
    float: left;
}
.H-line {
    line-height: 22px;
    color: #717171;
}
.footer18_list a:hover {
    color: #008842;
    text-decoration: underline;
}
.sidebar {
    display: block;
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 47%;
    margin-right: -625px;
    width: 56px;
}
.service21 {
    overflow: hidden;
    display: block;
    width: 50px;
    height: 42px;
    margin-bottom: 10px;
    background: url("../images/sidebar.png") no-repeat left top;
    background-position: 0 -46px;
}
.service21:hover {
    background-position: -55px -46px;
}
.go-top {
    overflow: hidden;
    display: none;
    width: 50px;
    height: 42px;
    margin-bottom: 10px;
    background: url("../images/sidebar.png") no-repeat left top;
    background-position: 0 0;
}
.go-top:hover {
    background-position: -55px 0;
}