*{
    padding: 0;
    margin: 0;
}
.F1Container {
    font-size: 0;
}
.f1top {
    height: 358px;
    background-image: url("../f07img/top.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.f1center {
    height: 325px;
    background-image: url("../f07img/center.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.f1bottom {
    height: 338px;
    background-image: url("../f07img/bottom.jpg");
    background-repeat: no-repeat;
    background-position: center;
}