*{
    padding: 0;
    margin: 0;
}
body {
    background: #f7f8f8;
    font-size: 12px;
    color: #444;
    font-family: Arial,Verdana,"\5b8b\4f53";
}
a {
    color: #444;
    text-decoration: none;
    outline: none;
    margin: 0 10px;
}
._talk {
    width: 942px;
    padding: 20px;
    border: 1px solid #e3e6e0;
    background: #fff;
    float: left;
    margin-left: 20px;
}
._title {
    color: #008842;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #008842;
}
._tips {
    margin: 25px 0 20px 0;
}
._tips a {
    padding-left: 10px;
    color: #ef760a;
}
._tab {
    height: 41px;
    margin-top: 10px;
    border-bottom: 1px solid #ebebeb;
}
._tab span {
    display: block;
    float: left;
    height: 38px;
    padding: 0 22px;
    font: bold 14px/38px SimSun;
    background: #fff;
    cursor: pointer;
}
._on {
    color: #008842;
    border-bottom: 3px solid #008842;    
}
._end {
    padding: 10px;
}
._end p, ._come p {
    margin-left: 10px;
}
._come {
    display: none;
    padding: 10px;
}