* {
    margin: 0;
    padding: 0;
}
.f2container a {
    text-decoration: none;
}
.f2container li {
    list-style: none;
}
.f2container img {
    font-size: 0;
    border: 0;
}
body {
    background-color: #f7f8f8;;
    color: #444;
    font-size: 12px
}
.f2container {
    width: 1200px;
    margin: auto;
}
/* 标题 */
.f2menu {
    width: 1200px;
    height: 38px;
    font-size: 15px;
    font-family: "宋体";
    margin: auto;
}
.f2change {
    width: 180px;
    height: 38px;
    background: #008842;
    display: inline-block;
}
.f2nochange {
    display: inline-block;
}
.f2list {
    width: 115px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
}
.f2content1 {
    color: #444;
    text-decoration: none;
    font-weight: bold;
}
.f2content1:hover {
    color: #008842;
}
.f2logo {
    text-align: center;
    line-height: 38px;
}
.f2color {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
/* 内容 */
.f2bg1 {
    width: 1200px;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
}
.f2box2 {
    width: 405px;
    height: 180px;
    margin-right: 10px;
}
.f2box2-1 {
    width: 180px;
    height: 180px;
    margin-right: 10px;
}
.f2box2-2 {
    width: 180px;
    height: 180px;
}
.f2box1 {
    width: 1200px;
    height: 180px;
    margin: auto;
    font-size: 0;
}
.f2menu3 {
    width: 1200px;
    height: 37px;
    font-size: 0;
    margin: 20px auto;
    background-color: #eaeaea;
}
.f2menu3-1-1 {
    display: inline-block;
    width: 78px;
    line-height: 25px;
    font-size: 12px;
    padding: 5px 0 5px 20px;
    color: #909090;
}
.f2bgc3 {
    display: inline-block;
    width: 1100px;
    height: 25px;
    padding: 5px 0;
    background-color: #f1f1f1;
}
.f2fruit {
    display: inline-block;
    padding: 0 15px;
    line-height: 25px;
}
.f2content3 {
    font-size: 12px;
    color: #777;
}
.f2content3:hover {
    color: #008842;
    text-decoration: underline;
}
.f2icon3 {
    font-size: 12px;
    color: #777;
}
.f2menu4 {
    width: 1180px;
    height: 30px;
    padding: 5px 10px;
    font-size: 0;
    background-color: #eaeaea;
}
.f2content4-1 {
    display: inline-block;
    padding: 6px 10px;
    font-size: 12px;
    color: #444;
    line-height: 16px;
    border: 1px solid #c7c7c7;
}
.f2content4 {
    position: relative;
    display: inline-block;
    width: 36px;
    padding: 6px 10px;
    font-size: 12px;
    color: #444;
    line-height: 16px;
    border: 1px solid #c7c7c7;
    border-left: 0;
    background-color: #fff;
}
.f2content4-1:hover {
    color: #008842;
}
.f2content4:hover {
    color: #008842;
    background-color: #eaeaea;
}
.f2content4 i {
    font-size: 12px;
}
.f2main1-1 {
    width: 1200px;
}
.f2main1-1 ul {
    width: 1213px;
}
#f2boxAll {
    position: relative;
    float: left;
    width: 290px;
    height: 358px;
    margin: 15px 13px 0 0;
    background-color: #fff;
}
.f2box1-1 a img {
    width: 290px;
    height: 290px;
}
.f2box1-2 {
    height: 48px;
    padding: 10px;
}
.f2box1-2-1 {
    height: 16px;
    line-height: 16px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.f2box1-2-1 a {
    color: #444;
    font-size: 12px;
}
.f2box1-2-2 span {
    font-size: 18px;
    color: #e7380d;
}
#f2box1-3 {
    display: block;
    position: absolute;
    left: 0;
    bottom: 68px;
    width: 270px;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
}
#f2box1-3 {
    display: none;
}
#f2box1-3 span {
    display: block;
    width: 270px;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
    text-align: center;
}
#f2box1-3 a {
    display: block;
    width: 180px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    margin: auto;
    color: #fff;
    background-color: #008742;
    border-radius: 4px;
}
.f2dowm {
    position: absolute;
    bottom: 8px;
    display: inline-block;
    width: 10px;
    height: 13px;
    margin: 0 0 0 3px;
    background-image: url('./image/filter_icon.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 0px 0px;
}
.f2content4:hover .f2dowm {
    background-position: -10px 0px;
}
.f2sort_down {
    position: absolute;
    bottom: 8px;
    display: inline-block;
    width: 10px;
    height: 13px;
    margin: 0 0 0 3px;
    background-image: url('./image/filter_icon.png');
    background-repeat: no-repeat;
    background-size: 47px;
    background-position: -19px 0px;
}
.f2content4:visited .f2sort_down {
    background-position: -29px 0px;
}
.f2content4:hover .f2sort_down {
    background-position: -29px 0px;
}
.f2content4:active .f2sort_down {
    background-position: -29px 0px;
}