* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f7f8f8;
}
img {
    border: 0;
}
/* 头部标题（开始） */
.f2menu {
    width: 1200px;
    height: 35px;
    font-size: 15px;
    margin: auto;
    border-bottom: 3px solid #008842;
}
.f2change {
    width: 180px;
    height: 35px;
    background: #008842;
    display: inline-block;
}
.f2nochange {
    display: inline-block;
}
.f2list {
    width: 115px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    display: inline-block;
}
.f2content1 {
    font-family: "宋体";
    color: #444;
    text-decoration: none;
    font-weight: bold;
}
.f2content1:hover {
    color: #008842;
}
.f2logo {
    text-align: center;
    line-height: 35px;
}
.f2color {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
/* 头部标题（结束） */


/* f3-0 */
.f3container {
    width: 1200px;
    margin: auto;
}
.f3manage {
    width: 1200px;
    color: #444;
    margin: 10px auto;
    overflow: hidden;
}
.f3manage a,.f3manage span {
    float: left;
    margin: 0 5px 0;
    font-size: 12px;
    color: #444;
    text-decoration: none;
}
.f3manage .f3text1 {
    margin: 0 10px 0 0;
}
.f3manage .f3text3 {
    color: #e8380d;
    text-decoration: underline;
}
.f3test {
    float: right;
    width: 942px;
    padding: 20px;
    padding-bottom: 80px;
    margin-left: 20px;
    background: #fff;
    border: 1px solid #e3e6e0;
    overflow: hidden;
}
.f3test1 {
    width: 100%;
    height: 17px;
    font-size: 14px;
    font-family: "宋体";
    line-height: 17px;
    color: #008842;
    padding-bottom: 10px;
    border-bottom: 1px solid #008842;
}
#f3state,#f3date {
    float: right;
    margin-left: 15px;
    outline: none;
    border: 1px solid rgb(169, 169, 169);
}
.f3content {
    margin-top: 13px;
}
.f3content1 {
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-family: "宋体";
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
    background: #f4f4f4;
    overflow: hidden;
}
.f3box1 {
    float: left;
    width: 520px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    text-align: center;
}
.f3box2 {
    float: left;
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin: auto;
    text-align: center;
}
.f3content2 {
    width: 942px;
    height: 70px;
    font-size: 14px;
    font-family: "宋体";
    color: #444;
    line-height: 70px;
    text-align: center;
}
.f3content2 a {
    color: #008842;
}
.f3list {
    float: left;
    width: 165px;
    height: 542px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
}
.f3list dl {
    margin: 0 0 10px;
}
.f3list1-1 {
    list-style: none;
    padding: 0;
    margin: auto;
}
.f3list1-1 li a {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-family: "宋体";
    text-decoration: none;
}
.f3list1-1-1 {
    color: #008842;
}
.f3list1-1-2 {
    color: #444;
}
.f3list0-1 {
    margin: 0;
}
.f3list1 {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: "宋体";
    color: #333;
    font-weight: bold;
}