body {
    font-size: 12px;
    font-family: Arial,Verdana,"\5b8b\4f53";
    background: #f7f8f8;
}
.count {
    width: 1200px;
    margin: auto;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.inner a {
    display: inline-block;
    padding-right: 10px;
    color: #7a7a7a;
    margin: 5px 0 0;
    line-height: 22px;
}
.bg {
    background-color: #c7e2d4;
}
.tt {
    font-size: 14px;
    color: #404040;
    width: 84px;
    border-bottom: solid 1px #898989;
    padding: 10px 0;
    font-weight: bold;
}
.outli {
    margin-bottom: 10px;
}
.helpwrap {
    float: left;
    width: 180px;
}
.warp {
    margin: 10px 0;
    margin-left: -10px;
}
a {
    font-size: 12px;
    margin: 0 10px;
    color: #444;
}
.on  {
    color: #007f4d;
}
.center {
    width: 1020px;
    float: right;
}
.center2 img {
    width: 1020px;
}
.tr {
    width: 100%;
    border-bottom: solid 1px #898989;
}
.warp a:hover {
    color: #007f4d;
}
h4 {
    color: #008742;
    font-size: 14px;
    margin: 10px 0 15px;
}
.test {
    color: #818985;
    padding-left: 15px;
    margin: 5px 0 0;
}
.txt {
    color: #818985;
    padding-left: 15px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
 }
 .word,.center1 {
    color: #818985;
    line-height: 22px;
 }
 p {
    padding-left: 15px;
    color: #818985;
    line-height: 22px;
    margin: 5px 0 0;
 }
 .center1 img {
    margin: 0 0 25px;
 }
 .img  {
    margin-bottom: 25px;
    float: left;
    width: 140px;
    text-align: center;
    padding-right: 30px;
 }
 .center1 li {
    width: 100%;
    float: left;
 }
 .txt1 {
    margin-top: 20px;
    display: block;
}
.txt2 , .mt20, .txt3 {
    color: #818985;
    margin-top: 5px;
    line-height: 23px;
}
.payment p {
    text-align: justify;
}
.payment h4 ,strong ,p{
    line-height: 14px;
    font-size: 12px;
    color: #444;
    margin: 0;
    padding: 0;
}
.H-test {
    color: #818985;
    line-height: 22px;
    padding-left: 15px;
}
span {
    color: #008842;
}
.red {
    color: #ff0000;
}
.word li {
    padding-left: 15px;
}
.word {
    padding-left: 15px;
    color: #818985;
    line-height: 22px;
}
.mt20 {
    margin-top: 20px;
}
.helptable td {
    background-color: #fff;
}
.helptable th, .helptable td {
    padding: 10px;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
}
.helptable {
    border-top: solid 1px #eee;
    border-left: solid 1px #eee;
}
.helptable th {
    font-weight: bold;
    background-color: #f9fffc;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.helptable p {
    color: #818985;
    line-height: 22px;
    margin-top: 5px;
}
.helptable strong {
    color: #818985;
    margin: 0;
}
.othertt {
    margin-top: 10px;
    margin-bottom: 15px
}
.green {
    color: #008842;
}
.txt2 a {
    margin: 0;
}
.txt2 a:hover {
    color: #008842;
}
.h-green:hover {
    color: #008842;
}
.H-center {
    text-align: center;
    line-height: 30px;
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 14px;
    color: #444;
}
.H-center a {
    float: right;
    margin-right: 150px;
}
.H-center a:hover{
    color: #008842;
}
.H-txt {
    font-size: 14px;
    line-height: 19px;
    font-family: "微软雅黑";
    color: #444;
}
.underline {
    text-decoration: underline;
}
.H-txt1 {
    font-size: 14px;
    line-height: 31px;
    font-family: "微软雅黑";
    color: #444;
}
.interval {
    margin: 0 50px;
}
.H-txt2 {
    font-size: 14px;
    line-height: 31px;
    font-family: "微软雅黑";
    color: #000;
    margin: 5px 0;
}
.h1 {
    font-size: 20px;
    font-weight: bold;
}
.black {
    color: #000;
}