
body {
    font-size: 12px;
    font-family: Arial,Verdana,"\5b8b\4f53";
    background: #f7f8f8;
}
.count {
    width: 1200px;
    margin: auto;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.inner a {
    display: inline-block;
    padding-right: 10px;
    color: #7a7a7a;
    margin: 5px 0 0;
    line-height: 22px;
}
.bg {
    background-color: #c7e2d4;
}
.tt {
    font-size: 14px;
    color: #404040;
    width: 84px;
    border-bottom: solid 1px #898989;
    padding: 10px 0;
    font-weight: bold;
}
.outli {
    margin-bottom: 10px;
}
.helpwrap {
    float: left;
    width: 180px;
}
.warp {
    margin: 10px 0;
    margin-left: -10px;
}
a {
    font-size: 12px;
    margin: 0 10px;
    color: #444;
}
.on  {
    color: #007f4d;
}
.center {
    width: 1020px;
    float: right;
}
.center2 img {
    width: 1020px;
}
.tr {
    width: 100%;
    border-bottom: solid 1px #898989;
}
.warp a:hover {
    color: #007f4d;
}
h4 {
    color: #008742;
    font-size: 14px;
    margin: 10px 0 15px;
}
.test {
    color: #818985;
    padding-left: 15px;
    margin: 5px 0 0;
}
.txt {
    color: #818985;
    padding-left: 15px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
 }
 .word,.center1 {
    color: #818985;
    line-height: 22px;
 }
 p {
    padding-left: 15px;
    color: #818985;
    line-height: 22px;
    margin: 5px 0 0;
 }
 .center1 img {
    margin: 0 0 25px;
 }
 .img  {
    margin-bottom: 25px;
    float: left;
    width: 140px;
    text-align: center;
    padding-right: 30px;
 }
 .center1 li {
    width: 100%;
    float: left;
 }
 .txt1 {
    margin-top: 20px;
    display: block;
}
.txt2 , .mt20, .txt3 {
    color: #818985;
    margin-top: 5px;
    line-height: 23px;
}
.tt {
    color: #404040;
}
.payment p {
    text-align: justify;
}
.payment h4 ,strong ,p{
    line-height: 14px;
    font-size: 12px;
    color: #444;
    margin: 0;
    padding: 0;
}
.H-test {
    color: #818985;
    line-height: 22px;
    padding-left: 15px;
}
span {
    color: #008842;
}
.red {
    color: #ff0000;
}
.word li {
    padding-left: 15px;
}
.word {
    padding-left: 15px;
    color: #818985;
    line-height: 22px;
}
.mt20 {
    margin-top: 20px;
}
.helptable td {
    background-color: #fff;
}
.helptable th, .helptable td {
    padding: 10px;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
}
.helptable {
    border-top: solid 1px #eee;
    border-left: solid 1px #eee;
}
.helptable th {
    font-weight: bold;
    background-color: #f9fffc;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.helptable p {
    color: #818985;
    line-height: 22px;
    margin-top: 5px;
}
.helptable strong {
    color: #818985;
    margin: 0;
}
.othertt {
    margin-top: 10px;
    margin-bottom: 15px
}
.green {
    color: #008842;
}
.txt2 a {
    margin: 0;
}
.txt2 a:hover {
    color: #008842;
}
.h-green:hover {
    color: #008842;
}
.H-center {
    text-align: center;
    line-height: 30px;
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 14px;
    color: #444;
}
.H-center a {
    float: right;
    margin-right: 150px;
}
.H-center a:hover{
    color: #008842;
}
.H-txt {
    font-size: 14px;
    line-height: 19px;
    font-family: "微软雅黑";
    color: #444;
}
.underline {
    text-decoration: underline;
}
.H-txt1 {
    font-size: 14px;
    line-height: 31px;
    font-family: "微软雅黑";
    color: #444;
}
.interval {
    margin: 0 50px;
}
.H-txt2 {
    font-size: 14px;
    line-height: 31px;
    font-family: "微软雅黑";
    color: #000;
    margin: 5px 0;
    text-indent: 30px;
}
.h1 {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}
.black {
    color: #000;
}
.H-txt3 {
    font-size: 14px;
    line-height: 20px;
    font-family: "微软雅黑";
    color: #444;
}
.H-link {
    width: 163px;
    height: 14px;
    display: inline-block;
}
.H-link a {
    color: #7a7a7a;
}
.H-link a:hover {
    color: #008842;
    text-decoration: underline;
}
.H-apply {
    margin-top: 5px;
}
.apply {
    width: 510px;
    display: inline-block;
}
.linkform {
    width: 510px;
    height: 383px;
    float: right;
}
.linkform span {
    display: inline-block;
    width: 120px;
    height: 30px;
    text-align: right;
}
.linkform input {
    width: 310px;
    padding: 5px 10px;
    line-height: 20px;
    border: 1px solid #bfbfbf;
    background: #fff;
    margin-top: 20px;
}
.linkform textarea {
    width: 310px;
    padding: 5px 10px;
    line-height: 20px;
    border: 1px solid #bfbfbf;
    background: #fff;
    margin-top: 20px;
    resize: none;
}
button {
    display: block;
    width: 90px;
    height: 30px;
    line-height: 30px;
    margin-right: 60px;
    text-align: center;
    color: #fff;
    background: #008842;
    float: right;
    border: none;
}
.linkform input:focus {
    outline:none;
}
.linkform textarea:focus {
    outline:none;
}
.position {
    position: relative;
    top: -195px;
}
#Masked {
    width: 100%;
    height: 900px;
    display: none;
    position: fixed;
    z-index: 9;
    background: grey;
    opacity: .4;
    margin: -35px 0 0 -10px;
}
.tittle {
    display: none;
    position: fixed;
    z-index: 10;
    margin: 200px 500px ;
    width: 418px;
    height: 197px;
    background: #fff;
    border: 1px solid #008742;
}
.p1 {
    position: relative;
    height: 16px;
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #008742;
}
.tittle i {
    display: inline-block;
    width: 13px;
    height: 16px;
    margin-right: 10px;
    background: url(imgs/icon.png) no-repeat -62px -39px;
}
.con {
    padding: 25px 30px;
    line-height: 22px;
    font-size: 12px;
}
.p2 {
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}
.btnbox {
    text-align: center;
    margin-top: 45px;
}
.confirm {
    color: #fff;
    background: #008742;
    display: inline-block;
    width: 90px;
    height: 30px;
    margin: 0 20px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #6ab930;
}